@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*//Comment//
Grey: #899CA0
Green: #1C2B32
//*//


/*////////////////////////
    1. Global Styles
////////////////////////*/

*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: #899CA0;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
    color: #616165;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.main-container   h2 {
    text-align: center;
    color: #1C2B32;
    font-weight: 600;
    margin: 50px;
}
/*////////////////////////
    3. Areas
////////////////////////*/
header {
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
}

main {
    max-width: 1000px;
    margin: auto;
}


/*///////////// 3.1 Header /////////////*/


.header-container {
    margin: auto;
    text-align: center;
    max-width: 1000px;
    min-height: 600px;

}

.header-container h1 {
    margin: 0;
    padding-top: 30px;
    font-size: 100px;
    color: #1C2B32;
}

.header-container p {
    color: #1C2B32;
    font-size: 15px;
    font-weight: 400;
}
#domain-search {
    border-style: solid;
    border-width: 2px;
    border-radius: 80px 0 0 80px;
    border-color: #1C2B32;
    background-color: rgba(0,0,0,0);
    height: 40px;
    width: 220px;
    margin-right: -2px;
    padding: 10px;
}

::placeholder {
    color: #1C2B32;
    text-align: left;
}

.header-container button {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 80px 80px 0;
    border-color: #1C2B32;
    background-color: #1C2B32;
    height: 64px;
    width: 170px;
    color: white;
    margin-left: -2px;
    cursor: pointer;
}
/*///////////// 3.2 Testimonial /////////////*/

.testimonial-container {
    box-shadow: 2px 0 20px darkgrey;
    border-radius: 10px;
    padding: 30px;
    font-weight: normal;
    margin-top: 40px;
}

.testimonial img {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}
blockquote {
    text-align: left;
    margin: 0;
    margin-top: -20px;
}

blockquote img {
    position: relative;
    left: -30px;
    bottom: -35px;
    max-width: 25px;
    max-height: 25px;
}

.testimonial-container p {
    display: inline-block;
}

.testimonial-container cite{
    padding: 10px;
}

figure {
    padding: 10px 20px 10px 50px;
}
/*///////////// 3.3 Support /////////////*/

.support img {
    width: 100%;
    border-radius: 10px;
}

.contact-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 80px 80px 80px 80px;
    border-color: #1C2B32;
    background-color: #1C2B32;
    width: 170px;
    color: white;
    padding:  20px;
    cursor: pointer;
    font-size: 16px;
}

/*///////////// 3.4 Faq /////////////*/
.faq {
    padding: 20px;
}

.faq summary {
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}
.faq p {
    background-color: #899CA0;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
/*///////////// 3.5 Footer /////////////*/
footer {
    background-color: #1C2B32;
    color: white;
    margin-top: 0;
    padding: 20px;
    text-align: center;
}